@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: Rubik, sans-serif;
  line-height: 1.5;
}

header {
  margin: 0 150px;
}
header .menushka {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4F5665;
}
header .menushka .lefttop {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
header .menushka .lefttop p {
  width: 104px;
  height: 24px;
  font-weight: 500;
  margin: 0;
  color: rgb(11, 19, 42);
}
header .menushka .lefttop p span {
  font-weight: 700;
}
header .menushka .lefttop img {
  width: 35px;
  height: 36.23px;
  margin: 0;
}
header .menushka .center button {
  background-color: transparent;
  color: rgb(79, 86, 101);
  font-weight: 400;
  border: none;
  font-size: 10px;
}
header .menushka .right {
  margin-right: 40px;
  font-weight: 500;
}
header .menushka .right .signin {
  border: none;
  background-color: transparent;
  width: 53px;
  height: 19px;
  font-size: 10px;
}
header .menushka .right .signup {
  width: 100px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid rgb(245, 56, 85);
  color: rgb(245, 56, 85);
  background-color: transparent;
}

main {
  margin: 0 150px;
}
main .main1 {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
main .main1 h1 {
  width: 555px;
  height: 140px;
  font-size: 50px;
  font-weight: 500;
}
main .main1 h1 span {
  font-weight: 700;
}
main .main1 p {
  color: rgb(79, 86, 101);
  width: 555px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
}
main .main1 p span {
  font-size: 16px;
  font-weight: 500;
}
main .main1 img {
  width: 611.24px;
  height: 382.44px;
}
main .main1 button {
  width: 250px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  background: rgb(245, 56, 56);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 20px 74px -19px rgb(245, 56, 56);
}
main .main2 {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
main .main2 .cont {
  display: flex;
}
main .main2 .main01 {
  display: flex;
  flex-direction: column;
  padding-left: 17.15px;
}
main .main2 .main01 p {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}
main .main2 .main01 span {
  font-size: 20px;
}
main .main2 .bord {
  border-left: 1px solid #EEEFF2;
  border-right: 1px solid #EEEFF2;
  padding-left: 220px;
  padding-right: 220px;
}
main .main2 img {
  width: 55px;
  height: 55px;
}
main .main3 {
  display: flex;
  gap: 169px;
}
main .main3 .infa {
  margin-top: 108px;
}
main .main3 .infa h2 {
  color: rgb(11, 19, 42);
  width: 383.41px;
  height: 100px;
  font-weight: 500;
  font-size: 35px;
}
main .main3 .infa p {
  color: rgb(79, 86, 101);
  width: 427.88px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
}
main .main3 .infa .str1 {
  display: flex;
  align-items: center;
}
main .main3 .infa .str1 img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
main .main3 .infa .str1 p {
  color: rgb(79, 86, 101);
  width: 200px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
}
main .main3 .infa .str2 {
  display: flex;
  align-items: center;
}
main .main3 .infa .str2 img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
main .main3 .infa .str2 p {
  color: rgb(79, 86, 101);
  width: 179px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
}
main .main3 .infa .str3 {
  display: flex;
  align-items: center;
}
main .main3 .infa .str3 img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
main .main3 .infa .str3 p {
  color: rgb(79, 86, 101);
  width: 179px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
}
main .main3 .infa .str4 {
  display: flex;
  align-items: center;
}
main .main3 .infa .str4 img {
  width: 24px;
  height: 24px;
  margin-right: 11px;
}
main .main3 .infa .str4 p {
  color: rgb(79, 86, 101);
  width: 179px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
}
main .main4 .word {
  text-align: center;
}
main .main4 .word h2 {
  color: rgb(11, 19, 42);
  font-size: 35px;
  font-weight: 500;
}
main .main4 .word p {
  color: rgb(79, 86, 101);
  font-size: 16px;
  font-weight: 400;
  width: 555px;
  height: 60px;
  margin-left: 450px;
}
main .main4 .allcont {
  display: flex;
  justify-content: space-evenly;
}
main .main4 .allcont .smallcont22 {
  margin-top: 120px;
}
main .main4 .allcont .smallcont22 button {
  width: 178px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #F53838;
  color: #F53838;
  background: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  margin-left: 76px;
}
main .main4 .allcont .smallcont222 {
  margin-top: 70px;
}
main .main4 .allcont .smallcont222 button {
  width: 178px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #F53838;
  color: #F53838;
  background: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  margin-left: 76px;
}
main .main4 .allcont .bigcont1 {
  width: 330px;
  height: 760px;
  border-radius: 10px;
  border: 2px solid #DDDDDD;
}
main .main4 .allcont .bigcont1 .bo {
  margin-top: 80px;
  margin-left: 93px;
}
main .main4 .allcont .bigcont1 h2 {
  text-align: center;
}
main .main4 .allcont .bigcont1 .smallerst {
  display: flex;
  align-items: center;
  margin-left: 70px;
}
main .main4 .allcont .bigcont1 .smallerst p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  color: #4F5665;
}
main .main4 .allcont .bigcont1 .smallcont2 {
  margin-bottom: 40px;
}
main .main4 .allcont .bigcont1 .smallcont2 button {
  width: 178px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #F53838;
  color: #F53838;
  background: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  margin-left: 76px;
}
main .main4 .allcont .bigcont2 {
  width: 330px;
  height: 760px;
  border-radius: 10px;
  border: 2px solid #F53838;
}
main .main4 .allcont .bigcont2 .bo {
  margin-top: 80px;
  margin-left: 93px;
}
main .main4 .allcont .bigcont2 h2 {
  text-align: center;
}
main .main4 .allcont .bigcont2 .smallerst {
  display: flex;
  align-items: center;
  margin-left: 70px;
}
main .main4 .allcont .bigcont2 .smallerst p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  color: #4F5665;
}
main .main4 .allcont .bigcont2 .smallcont2 {
  margin-bottom: 40px;
}
main .main4 .allcont .bigcont2 .smallcont2 button {
  width: 178px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #F53838;
  color: #F53838;
  background: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  margin-left: 76px;
}
main .main5 .words {
  text-align: center;
}
main .main5 .words h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}
main .main5 .words p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
main .main5 .words p span {
  color: #4F5665;
}
main .main6 .wordd {
  text-align: center;
}
main .main6 .wordd h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
}
main .main6 .wordd p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
main .main6 .wordd p span {
  color: #4F5665;
}
main .main6 .buttons {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
main .main6 .dooown .leftb {
  width: 60px;
  height: 60px;
  border: 2px solid #F53838;
  border-radius: 50%;
  background: none;
}
main .main6 .dooown .rightb {
  width: 60px;
  height: 60px;
  border: 2px solid #F53838;
  border-radius: 50%;
  background: #F53838;
}
main .main6 .doown {
  display: flex;
  justify-content: space-between;
  width: 135px;
  height: 15px;
}
main .main6 .doown .reds {
  width: 45px;
  height: 15px;
  background: #F53838;
  border-radius: 10px;
  border: none;
}
main .main6 .doown .default {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: none;
}
main .main6 .boxes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
main .main6 .boxx1 {
  width: 400px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid #F53838;
  padding: 30px;
}
main .main6 .boxx1 p {
  margin-top: 20px;
}
main .main6 .boxx1 .up {
  display: flex;
  justify-content: space-between;
}
main .main6 .boxx1 .up .sc {
  display: flex;
}
main .main6 .boxx1 .up .ava {
  width: 182px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main6 .boxx1 .up .ava h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}
main .main6 .boxx1 .up .ava h2 span {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #4F5665;
}
main .main6 .boxx2 {
  width: 400px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid #DDDDDD;
  padding: 30px;
}
main .main6 .boxx2 p {
  margin-top: 20px;
}
main .main6 .boxx2 .up {
  display: flex;
  justify-content: space-between;
}
main .main6 .boxx2 .up .sc {
  display: flex;
}
main .main6 .boxx2 .up .ava {
  width: 213px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main6 .boxx2 .up .ava h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}
main .main6 .boxx2 .up .ava h2 span {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #4F5665;
}
main .main7 {
  width: 1140px;
  height: 233px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}
main .main7 h2 {
  color: #0B132A;
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
}
main .main7 p {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
main .main7 button {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #F53838;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 86px;
}

footer {
  width: 1440px;
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #F8F8F8;
}
footer .leftdown {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 30px;
}
footer .leftdown .topdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .leftdown .topdown .logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
footer .leftdown .topdown .logo h3 {
  color: #0B132A;
  font-size: 20px;
  font-weight: 700;
}
footer .leftdown .topdown h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
footer .leftdown .topdown h3 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #4F5665;
}
footer .leftdown .socseti h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #AFB5C0;
}
footer .leftdown .socseti h3 span {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #AFB5C0;
}
footer .lastcont {
  display: flex;
  flex-direction: row;
  gap: 120px;
}
footer .lastcont .lastcont1 h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .lastcont .lastcont1 .silka {
  display: flex;
  flex-direction: column;
}
footer .lastcont .lastcont1 .silka p {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 5px 0;
}/*# sourceMappingURL=style.css.map */